@import "./partial/bootstrap-override";

header {
  nav {
    img {
      height: 25px;
    }
  }
}

body {
  background-color: $dark;
}
main {
  section {
    .icons {
      height: 35px;
      button {
        padding: 5px 20px;
        background-color: $dark;
        color: $secondary;
        border: 1px solid $secondary;
        &.active {
          color: $light;
          border: 1px solid $light;
        }
      }
    }
  }
}
