@import "./partial/bootstrap-override";

body {
  background-color: $dark;
}
header {
  nav {
    .nav-link.active {
      font-weight: 700;
    }
    img {
      height: 25px;
    }
  }
}
main {
  section {
    .icons {
      height: 35px;
      button {
        padding: 5px 20px;
        background-color: $dark;
        color: $secondary;
        border: 1px solid $secondary;
        &.active {
          color: $light;
          border: 1px solid $light;
        }
      }
    }
    .bolder {
      font-weight: 700;
    }
  }
}

footer {
  i {
    width: 1.5em;
    font-size: 1.5em;
  }
}
